#course{
    padding-bottom: 20px;
    .course-container{
        max-width: 900px;
        margin: 0 auto;
    }
    video{
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        border-radius: 30px;
    }
    .trainer-container{
        p{
            display: inline-block;
        }
        .trainer-name{
            margin-left: 285px;
            @media screen and (max-width:425px){
                margin-left: 130px;
            }
        }
    }
    .course-subhead{
        border-bottom: 2px solid #e8e8e8;
        padding: 20px 0 20px 0;
        p{
            margin-bottom: 0;
        }
    }
    .course-info-container{
        display: inline-block;
        &:last-of-type{
            margin-left: 250px;
            @media screen and (max-width:425px){
                margin-left: 90px;
            }
        }
    }
    .button-custom{
        margin: 10px 0 20px 0;
    }
}