#home{
    background: #F8F8F8;
    height: 100%;
    h2{
        margin-top: 20px;
        font-weight: bold;
    }
    .university-courses{
        margin-top: 50px;
        padding-bottom: 20px;
        h2{
            margin-bottom: 20px;
        }
    }
}