.landing{
    .intro{
        height: 85vh;
        background: #fff;
        .intro-text{
            position: relative;
            top: 30%;
            max-width: 665px;
            margin: 0 auto;
            h2{
                font-size: 50px;
                color:#101323;
                line-height: 65px;
            }
        }
        .landing-bg{
            height: 85vh;
            background-position: center;
            background-size: cover;
            background-image: url('../images/intro_landing.jpg');
        }
        .search{
            overflow: auto;
            padding: 10px 10px 10px 25px;
            background: #fff;
            box-shadow: 10px 10px 18px 3px rgba(0,0,0,0.14);
            border-radius: 50px;
            .select{
                display: inline-block;
                margin-right: 50px;
                margin-top: 7px;
            }
            select{
                border:transparent;
                width: 170px;                
                &:focus{
                    outline: 0 !important;
                }
            }
            option{
                &:focus{
                    outline: 0 !important;
                    background: #101323;
                }
            }
            button{
                float: right;
                &:focus{
                    outline: 0 !important;
                }
            }
        }
        .btn-custom{
            background: #f71717;
            color: #fff;
            border-radius: 50px;
            padding-right: 25px;
            padding-left: 25px;
            box-shadow: 10px 10px 18px 3px rgba(0,0,0,0.14);
        }
    }
    .recent-videos{
        padding-top: 50px;
        padding-bottom: 80px;
        background: #fbfbfb;
        h2{
            text-align: center;
        }
        .videos{
            margin-top: 50px;
        }
    }
}