#register{
    padding: 0;
    .register-bg{
        height: 100vh;
        background-position: center;
        background-size: cover;
        background-image: url('../images/intro_landing.jpg');
        @media screen and (max-width: 850px){
            display: none !important;
        }
    }
    form{
        margin-top: 50px;
        margin-bottom: 20px;
        p{
            margin: 5px 0 5px 0;
        }
        .input-conainer{
            margin-bottom: 5px;
            overflow: auto;
        }
        input{
            display: inline-block;
            width: 80%;
            border: transparent !important;
            &:focus{
                outline:none;
            }
        }
        .icon{
            display: inline-block;
            color: #e8e8e8;
            margin-bottom: 5px;
            margin-right: 8px;
        }
    }
}