.container{
    max-width: 1600px !important;
    @media screen and (max-width:992px){
        max-width: 960px;
    }
    @media screen and (max-width:768px){
        max-width: 720px;
    }
    @media screen and (max-width: 576px){
        max-width: 540px;
    }
}