#course-card{
    border-radius: 5px;
    overflow: auto;
    margin-right: 15px;
    //box-shadow: rgba(0, 0, 0, 0.45) 0px 1px 4px;
    img{
        width: 100%;
    }
    h3{
        font-size: 25px;
        font-weight: bold;
    }
    .course-card-info{
        padding: 15px;
        background:#fff;
    }
    p{
        margin-bottom: 10px;
    }
    .course-subinfo{
        p{
            display: inline-block;
        }
        .course-price{
            float: right;
        }
    }
}