@import 'base/base';
@import 'components/components';
@import 'layout/layout';
@import 'pages/pages';

body{
    font-family: 'Raleway', sans-serif !important;
    background: blue;
}

.course-link{
    color: #000;
    &:hover{
        text-decoration: none;
        color: #000;
    }
}
