#navbarLanding .navbar {
  padding-top: 15px;
  max-width: 1600px;
  margin: 0 auto;
}

#navbarLanding .accent-color {
  background: #f71717;
  border-radius: 50px;
  padding: 0 25px 0 25px;
  -webkit-box-shadow: 10px 10px 18px 3px rgba(0, 0, 0, 0.14);
          box-shadow: 10px 10px 18px 3px rgba(0, 0, 0, 0.14);
}

#navbarLanding .nav-link {
  color: #F7F7F7;
}

.container-custom {
  max-width: 1600px !important;
}

@media screen and (max-width: 992px) {
  .container-custom {
    max-width: 960px;
  }
}

@media screen and (max-width: 768px) {
  .container-custom {
    max-width: 720px;
  }
}

@media screen and (max-width: 576px) {
  .container-custom {
    max-width: 540px;
  }
}

.button-custom {
  background: #f71717;
  color: #fff;
  border-radius: 50px;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.5;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

#course-card {
  border-radius: 5px;
  overflow: auto;
}

#course-card img {
  width: 100%;
}

#course-card .course-card-info {
  padding: 15px;
  background: #fff;
}

.landing .intro {
  height: 85vh;
  background: #fff;
}

@media screen and (max-width: 425px) {
  .landing .intro {
    height: 50vh;
  }
}

.landing .intro .intro-text {
  position: relative;
  top: 30%;
  max-width: 665px;
  margin: 0 auto;
  padding: 10px;
}

@media screen and (max-width: 1440px) {
  .landing .intro .intro-text {
    max-width: 650px;
  }
}

@media screen and (max-width: 1024px) {
  .landing .intro .intro-text {
    max-width: 490px;
  }
}

@media screen and (max-width: 768px) {
  .landing .intro .intro-text {
    top: 70%;
  }
}

@media screen and (max-width: 425px) {
  .landing .intro .intro-text {
    padding: 0 20px 0 20px;
    margin-top: 10px;
    top: 30%;
  }
}

.landing .intro .intro-text h2 {
  font-size: 48px;
  color: #101323;
  line-height: 65px;
}

@media screen and (max-width: 1440px) {
  .landing .intro .intro-text h2 {
    font-size: 45px;
  }
}

@media screen and (max-width: 1024px) {
  .landing .intro .intro-text h2 {
    font-size: 35px;
    line-height: 46px;
  }
}

@media screen and (max-width: 425px) {
  .landing .intro .intro-text h2 {
    font-size: 28px;
  }
}

@media screen and (max-width: 375px) {
  .landing .intro .intro-text h2 {
    font-size: 25px;
    line-height: 40px;
  }
}

@media screen and (max-width: 320px) {
  .landing .intro .intro-text h2 {
    font-size: 21px;
    line-height: 33px;
  }
}

.landing .intro .landing-bg {
  height: 85vh;
  background-position: center;
  background-size: cover;
  background-image: url("../images/intro_landing.jpg");
}

@media screen and (max-width: 850px) {
  .landing .intro .landing-bg {
    display: none !important;
  }
}

.landing .intro .search {
  overflow: auto;
  padding: 10px 10px 10px 25px;
  background: #fff;
  -webkit-box-shadow: 10px 10px 18px 3px rgba(0, 0, 0, 0.14);
          box-shadow: 10px 10px 18px 3px rgba(0, 0, 0, 0.14);
  border-radius: 50px;
}

@media screen and (max-width: 320px) {
  .landing .intro .search {
    padding: 20px;
  }
}

.landing .intro .search .select {
  display: inline-block;
  margin-right: 50px;
  margin-top: 7px;
}

@media screen and (max-width: 1024px) {
  .landing .intro .search .select {
    margin-right: 10px;
  }
}

.landing .intro .search select {
  border: transparent;
  width: 170px;
}

@media screen and (max-width: 1024px) {
  .landing .intro .search select {
    width: 145px;
  }
}

@media screen and (max-width: 425px) {
  .landing .intro .search select {
    width: 100px;
  }
}

@media screen and (max-width: 375px) {
  .landing .intro .search select {
    width: 80px;
  }
}

@media screen and (max-width: 320px) {
  .landing .intro .search select {
    width: 80px;
  }
}

.landing .intro .search select:focus {
  outline: 0 !important;
}

.landing .intro .search option:focus {
  outline: 0 !important;
  background: #101323;
}

.landing .intro .search button {
  float: right;
}

.landing .intro .search button:focus {
  outline: 0 !important;
}

.landing .intro .btn-custom {
  background: #f71717;
  color: #fff;
  border-radius: 50px;
  padding-right: 25px;
  padding-left: 25px;
  -webkit-box-shadow: 10px 10px 18px 3px rgba(0, 0, 0, 0.14);
          box-shadow: 10px 10px 18px 3px rgba(0, 0, 0, 0.14);
}

@media screen and (max-width: 320px) {
  .landing .intro .btn-custom {
    width: 100%;
    margin-top: 10px;
  }
}

.landing .recent-videos {
  padding-top: 50px;
  padding-bottom: 80px;
  background: #fbfbfb;
}

.landing .recent-videos h2 {
  text-align: center;
}

.landing .recent-videos .videos {
  margin-top: 50px;
}

.login-form {
  position: relative;
  top: 90px;
  display: block;
  margin: 0 auto;
  max-width: 350px;
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 18px 3px rgba(0, 0, 0, 0.14);
          box-shadow: 10px 10px 18px 3px rgba(0, 0, 0, 0.14);
}

.login-form input {
  padding: 10px 10px 10px 18px;
  background: #fff;
  border-radius: 50px;
  margin-bottom: 10px;
}

.login-form h4 {
  margin-bottom: 15px;
}

.login-form button {
  background: #f71717;
  color: #fff;
  border-radius: 50px;
  padding-right: 25px;
  padding-left: 25px;
}

.login-form .error {
  color: red;
}

#contact .container {
  margin-top: 80px;
}

@media screen and (max-width: 425px) {
  #contact .container {
    margin-top: 30px;
    margin-bottom: 10px;
  }
}

#contact .header {
  padding: 30px;
  background-position: center;
  background-size: cover;
  background-image: url("../images/contact-bg.jpg");
}

#contact input {
  margin-bottom: 1rem;
  background: #F8F8F8;
}

#contact form {
  padding: 0 75px 0 75px;
}

@media screen and (max-width: 1024px) {
  #contact form {
    padding: 0 35px 0 35px;
  }
}

@media screen and (max-width: 988px) {
  #contact form {
    padding: 0;
  }
}

#contact textarea {
  resize: none;
  background: #F8F8F8;
}

#contact h2 {
  margin-bottom: 20px;
}

#contact p {
  color: #4a4a4a;
}

#contact .info-text {
  line-height: 25px;
}

#course {
  padding-bottom: 20px;
}

#course .course-container {
  max-width: 900px;
  margin: 0 auto;
}

#course video {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 30px;
}

#course .trainer-container p {
  display: inline-block;
}

#course .trainer-container .trainer-name {
  margin-left: 285px;
}

@media screen and (max-width: 425px) {
  #course .trainer-container .trainer-name {
    margin-left: 130px;
  }
}

#course .course-subhead {
  border-bottom: 2px solid #e8e8e8;
  padding: 20px 0 20px 0;
}

#course .course-subhead p {
  margin-bottom: 0;
}

#course .course-info-container {
  display: inline-block;
}

#course .course-info-container:last-of-type {
  margin-left: 250px;
}

@media screen and (max-width: 425px) {
  #course .course-info-container:last-of-type {
    margin-left: 90px;
  }
}

#course .button-custom {
  margin: 10px 0 20px 0;
}

#home {
  background: #F8F8F8;
  height: 100vh;
}

body {
  font-family: 'Raleway', sans-serif !important;
}
/*# sourceMappingURL=main.css.map */